/*Global*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.wrapper {
  box-sizing: border-box;
  background-color: rgba(205, 205, 205, 0.974);
  min-height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
}

/* Header */
.initals {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 700;
  color: gold;
}

.row {
  padding: 100px;
}

.nav-tabs {
  padding-bottom: 0px;
  min-height: 50px;
  background-color: rgb(67, 67, 67);
}

#headerNav {
  padding: 0;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  border-bottom: 3px solid gold;
}

.nav-tabs a {
  padding: 15px;
  color: rgb(227, 225, 225);
  font-weight: 600;
  font-size: 23px;
}

.nav-tabs a:hover {
  color: gold;
}

.nav-a {
  padding: 5px;
}


/* About Me */
.profileContainer {
  display: flex;
  padding-top: 100px;
  position: relative;
}

.profilePicContainer {
  width: 295px;
  padding-left: 0px;
  position: relative;
  left: 170px;
  bottom: 100px;
  z-index: 1;
}

#profilePic {
  width: 100%;
}

.profileTextContainer {
  box-sizing: border-box;
  width: 70rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 15px;
  border-style: solid;
  border-color: rgb(67, 67, 67);
  padding: 8px;
  overflow: hidden;
}

.profileTextContainer p {
font-size: 28px;
}

/* Portfolio */
.projectTitle h1 {
  padding-left: 15px;
  padding-top: 30px;
  font-size: (1.375rem + 1.5vw);
  font-weight: 500;
}

/* Contact */
.formContainer {
  border: 2px solid gold;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 100px;
  background-color: rgb(67, 67, 67);
  color: rgb(202, 173, 3);
  padding: 10px;
}

.newMsg {
  margin: 0 auto;
}

#msgName,
#msgEmail {
  width: 25rem;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  font-size: 25px;
}

#msgContent {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
}

#sendMessageBtn {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 26px;
}

#errorMsg {
  font-size: 22px;
  font-weight: 700;
  color:rgb(255, 255, 255);
  background-color: rgb(162, 4, 4);
  width: 45%;
  margin: 0 auto;
}

/* CV */
.cvContainer {
  border-style: solid;
  background-color: whitesmoke;
  width: 60rem;
  margin: 0 auto;
  margin-top: 8rem;
}

.cvContainer h1 {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  padding: 10px;
  font-weight: 500;
  font-size: 50px;
}

.cvContainer h2 {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 3px;
  text-decoration: underline;
  font-size: 40px;
}

.skillsList {
  -moz-column-count: 1;
  -moz-column-gap: 10px;
  -webkit-column-count: 1;
  -webkit-column-gap: 10px;
  column-count: 3;
  column-gap: 50px;
  font-size: 25px;
}

.btnContainer {
  display: block;
  width: auto;
}

#downloadCV {
  margin: 0 auto;
  margin-top: 35px;
  display: flex;
  font-size: 25px;
}

/* Footer */
.footerLogo {
  position: fixed;
  min-height: 35px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.logoContainer {
  height: 25px;
  width: 355px;
  display: flex;
  margin: 0 auto;
  margin-top: 4px;
}



.logo {
  object-fit: contain;
  padding-left: 20px;
}

.logo:hover {
  cursor: pointer;
}